
/* general config */
.modal-layout {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.34rem 0 0rem 2rem;
 }
 
 
 .notification-link {
     color: cornflowerblue;
     cursor: pointer;
 }
 
 /* vscode component config */
 .vscode-notification-container {
     background-color: rgb(63, 62, 62);
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     padding:16px;
     max-width: 600px;
   }
   .notification-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     align-content:start;
   }
   .notification-title {
     display: flex;
     align-items: center;
     font-size: 14px;
   }
   .notification-title svg {
     margin-right: 8px;
   }
   .notification-message {
     font-size: 14px;
     color: azure;
   }
   .vscode-notification-actions {
     margin-top: 16px;
     display: flex;
     align-items: center;
     justify-content:space-between;
   }

   .vscode-notification-source {
    font-size:0.85rem;
    min-width: 30%;
    padding: 0px 1.2rem 0px 0.6rem;
    color:whitesmoke;
   }

   .vscode-notification-button-group {
    display:flex;
    justify-content: end;
   }
   .vscode-notification-button {
     text-decoration: none;
     padding: 6px 14px;
     border-radius: 4px;
     color: #ffffff;
     font-size: 12px;
     margin-right: 8px;
     text-align: center;
     cursor: pointer;
   }

   .vscode-panel-modal-layout {
    justify-content: center;
    background-color: rgb(63, 62, 62);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    margin: 1rem 0;
    padding: 0 0 16px 0;
   }

   .vscode-panel-title {
    display:flex;
    padding: 16px;
    gap: 0.98rem;
   }

   .vscode-panel-number {
    margin-left:2px;
    aspect-ratio: 1/1;
    color:whitesmoke;
    padding: 0.2rem 0.48rem;
    background-color:#6c757d; 
    border-radius: 10rem;
}


   .vscode-panel-text {
    color: rgb(207, 205, 205);
    font-weight: 500;
    font-size:0.8rem;
    cursor: pointer;

   }

   .vscode-panel table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
   }

   .vscode-panel th, td {
    color:whitesmoke;
    text-align:left;
    padding: 0 10px;
   }

   .vscode-panel tr:nth-child(even){
    background-color: #6c757d93;
   }

   .vscode-panel td {
    color: whitesmoke;
    cursor: pointer;
   }

   .green-light {
    background-color: rgb(2, 175, 2);
    width: 6px;
    height: 6px;
    border-radius: 2rem;
   }

   .port-url {
    justify-content: space-between;
    display: flex;
    align-items: center;
   }

   .vscode-panel-button-group {
    justify-content: center;
    align-items: center;
    gap:1.4px;
    display: flex;
   }
   .icon {
    display: revert-layer;
    vertical-align: bottom;
   }

   .vscode-panel-explain tr, td{
    text-align: left;
    border: 1px;
    border-color: #ffffff;
    border-collapse: collapse;
    color: #fff;
   }

   .vscode-panel-explain tr:nth-child(even) {
     background-color: #161616;
   }

   .vscode-panel-explain tr > td:nth-child(1) {
    width: 20%;
    text-align: left;
    justify-content: center;
    height: 100%;
   }
   .highlighted-panel {
    color: rgb(245, 245, 245);
    border-bottom: 2px solid antiquewhite;
   }
   .open-in-browser {
     background-color: #007bff;
   }
   .preview-in-editor {
     background-color: #6c757d;
   }
   .close-button {
     cursor: pointer;
     border: none;
     background: none;
   }
   .close-button svg {
     fill: #6c757d;
   }


 /* theia related config */
   .theia-notification-container {
     background-color: rgb(63,62,62);
     box-shadow: 0 2px 4px rgba(0,0,0,0.1);
     border-radius: 2px;
     padding:12px;
     width:600px;
     margin: 3px auto;
     cursor: pointer;
   }
 
   .theia-notification-message {
     margin:6px;
     color:azure;
   }
 
   .theia-notification-button {
     background-color: #0475bc;
     text-decoration:none;
     padding: 6px 10px;
     border-radius:2px;
     color: #ffffff;
     font-size:12px;
     margin-right:6px;
     text-align: center;
     cursor:pointer;
   }

 /* webstorm related config */
   .webstorm-container {
     background-color: rgb(63,62,62);
     border-radius:5px;
     color:#ffffff;
     width: 600px;
     border-left: 1px solid #282828;
     position:relative;
   }
 
   .webstorm-heading {
     border-bottom:1px solid #282828;
     display:flex;
     
   }
 
   .webstorm-button {
     cursor: pointer;
     padding: 10px 20px;
     color:azure; 
   }
 
   .webstorm-terminal-button {
     font-weight: 600;
 
   }
 
   .webstorm-local-button {
     border-bottom: 2px solid rgb(63, 99, 243);
     display:flex;
     justify-content:center;
     align-items: center;
     gap:16px;
   }
 
   .webstorm-ports {
     padding: 0 20px;
     display:flex;
     align-items: center;
     font-size:small;
     gap:10px;
   }
 
   .dropdown-port {
    padding: 10px;
    align-items: center;
    display:flex;
    gap:5px;
    cursor: pointer;
   }
 
   .port-number {
     color:#57a1ef;
   }
 
   .dropdown-menu {
     position:absolute;
     z-index: 10;
     top:90%;
     background-color: rgb(63,62,62);
     padding:5px 10px;
     border:1px solid #6c757d;
     box-shadow: 0.5px 0.5px 0.5px 0.5px #262728b0;
     border-radius: 5px;
   }
 
   .dropdown-menu-button {
     cursor: pointer;
     padding: 2px 8px;
     font-size: small;
   }
 
   .selected {
     background-color: #1a72a2;
     border-radius: 3px;
   }
 
   .button-layout {
    font-weight:normal;
    align-items: center;
    font-size: 0.6rem;
    display: inline-flex;
    margin-bottom: 0;
    &[data-type*="bold"]{
      font-weight: 600;
      background-color: #282828;
      gap:2px;
      .button-text{
        font-weight: 700;
        font-style:normal;
      }
    }
    &[data-type^="daytona"] {
      background-color: #ffffffdc;
      gap:6px;
      padding: 2.8px 8px;
      vertical-align: middle;
      border-radius: 2px;
      .button-text {
        color:#3b3b3b;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: "Galano-Grotesque-Regular", sans-serif;
      }
    }

    &[data-type^="jetbrains"] {
      gap:6px;
      padding: 2px 7.6px;
      .button-text {
        font-size: 0.88rem;
        color: #fff;
      }
      &[data-type$="primary"] {
        background-color: #6c757d;
      }
      
      &[data-type$="secondary"] {
        background-color: #505050; 
      }
    }
  
    &[data-type^="github"] {
      background-color: #333; 
      color: #fff;
    }
  
    &[data-type^="vscode"] {
      padding: 1.2px 7.6px;
      gap:6px;
      .button-text {
        color: #f0f0f0;
        font-size: 0.8rem;
      }
      &[data-type$="primary"]{
        background-color: #0e5d9d;
        border-radius: 0.28rem;
      }
    
      &[data-type$="green"]{
        padding: 1.2px 8.8px;
        background-color: #107c10;
        font-weight: 500;
      }
    }
   }