.searchbox-wrapper {
  position: fixed;
  margin-top: 32px;
  top: 40px;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  overflow-y: auto;
}

.searchbox-wrapper::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.ais-SearchBox-form {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.ais-SearchBox-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--secondary-text-color);
  padding: 16px;
  font-size: 15px;
  text-align: left;
  box-sizing: border-box;
}

.stats-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 8px 0;
}

.ais-Stats {
  margin: 0;
  padding: 8px 0;
  font-size: 16px;
}

.ais-Pagination {
  display: flex;
  list-style-type: none;
}

.ais-Pagination-item {
  display: inline-block;
  margin: 0 5px;
}

.ais-Pagination-link {
  text-decoration: none;
  padding: 4px 8px;
  font-size: 16px;
}

.ais-Hits-list {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 0;
  margin-bottom: 128px;
}

@media (max-width: 768px) {
  .ais-Hits-list {
    grid-template-columns: 1fr;
  }
}

.ais-Hits-item {
  list-style: none;
  margin: 0;
  padding: 8px;
}

.ais-Highlight-highlighted,
mark {
  color: var(--highlight-color);
  background-color: var(--bg-color);
  font-style: normal;
}
