---
---

<div class="content-panel">
	<div class="sl-container"><slot /></div>
</div>

<style>
	.sl-container {
		> h1 {
			margin-top: 40px;
		}
	}

	.sl-container > :global(* + *) {
		margin-top: 1.5rem;
	}

	.sl-container {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
</style>
