---
import SidebarSublist from './SidebarSublist.astro'
import { SideNavLinks } from './menu/SideNavLinks'

const sdkSidebar = [
  {
    type: 'group',
    entries: [
      {
        type: 'link',
        href: '/docs',
        label: 'Documentation',
        attrs: {
          icon: 'home.svg',
        },
      },
    ],
  },
  {
    type: 'group',
    label: 'About',
    entries: [
      {
        type: 'link',
        href: '/docs/getting-started',
        label: 'Getting Started',
        attrs: {
          icon: 'bookmark.svg',
        },
      },
      {
        type: 'link',
        href: '/docs/configuration',
        label: 'Configuration',
        attrs: {
          icon: 'git-commit.svg',
        },
      },
    ],
  },
  {
    type: 'group',
    label: 'Workspaces',
    entries: [
      {
        type: 'link',
        href: '/docs/workspace-management',
        label: 'Management',
        attrs: {
          icon: 'computer.svg',
        },
      },
    ],
  },
  {
    type: 'group',
    label: 'Agent Toolbox',
    entries: [
      {
        type: 'link',
        href: '/docs/file-system-operations',
        label: 'File System',
        attrs: {
          icon: 'folder.svg',
        },
      },
      {
        type: 'link',
        href: '/docs/git-operations',
        label: 'Git Operations',
        attrs: {
          icon: 'git-branch.svg',
        },
      },
      {
        type: 'link',
        href: '/docs/language-server-protocol',
        label: 'Language Server Protocol',
        attrs: {
          icon: 'pulse.svg',
        },
      },
      {
        type: 'link',
        href: '/docs/process-code-execution',
        label: 'Process & Code Execution',
        attrs: {
          icon: 'terminal.svg',
        },
      },
    ],
  },
]

const { sidebar } = Astro.props

const currentPath = Astro.url.pathname
---

<SidebarSublist sublist={sdkSidebar} />
<div class="mobile-nav-btn nav__items_side_menu">
  <SideNavLinks client:load />
</div>
