---
import Icon from "./Icons.astro";
---

<table class="vscode-panel-explain container">
    <tr>
        <th> Icons</th>
        <th> Usage</th>
        <tr>
            <td>
                <Icon icon="vscode-copy"  />
            </td>
            <td> Copy URL</td>
        </tr>
    </tr>
    <tr>
        <td><Icon icon="vscode-globe" /></td>
        <td>Open in Browser</td>
    </tr>
    <tr>
        <td>
            <Icon icon="vscode-preview-editor"  />
        </td>
        <td> Preview the website in editor</td>
    </tr>
    <tr>
        <td>
            <Icon icon="vscode-lock"  />
        </td>
        <td>
            <b>Make the URL public</b> and shareable to anyone on the internet,
            without signin to Daytona dashboard.
        </td>
    </tr>
</table>
